# Docker Compose file for MERN stack application
services:
  backend:
    build: mern/backend
    image: efkumah/mern-backend #Pulls from Docker Hub
    ports:
      - "5050:5050"
    networks:
      - mern_network
    depends_on:
      - mongodb

  frontend: # Frontend service
    build: mern/frontend
    image: efkumah/mern-frontend #Pulls from Docker Hub
    ports:
      - "5173:5173"
    networks:
      - mern_network

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    networks:
      - mern_network
    volumes:
      - mongo-data:/data/db

networks:
  mern_network:
    driver: bridge

volumes:
  mongo-data:
    driver: local # Persist MongoDB data locally
